appdirs==1.4.4
async-generator==1.10
bcrypt==3.2.0
binaryornot==0.4.4
cryptography==38.0.4
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
fastapi==0.95.2
fastjsonschema==2.16.2
frozendict==2.3.4
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
joblib==1.1.1
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.0
lightgbm==3.3.5
multitasking==0.0.11
numpy==1.23.3
numpydoc==1.5.0
oauthlib==3.2.0
pandas==1.3.4
passlib==1.7.4
pathlib==1.0.1
pathspec==0.10.3
pydantic==1.10.2
pyflakes==2.4.0
requests
scikit-learn==1.1.3
scipy==1.9.3
selenium
text-unidecode==1.3
textdistance==4.2.1
ujson==5.4.0
Unidecode==1.2.0
urllib3==1.26.14
uvicorn==0.22.0
webdriver-manager
webencodings==0.5.1
websocket-client
Werkzeug==2.1.2
widgetsnbextension==3.6.0
yfinance
