name: Integration tests
on: push
jobs:
  build_push_api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout on master
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build api image
        run: docker image build -f api.Dockerfile . -t trading_api

      - name: Build tests image
        run: docker image build -f ./tests_integration/security/tests.Dockerfile ./tests_integration/security -t api_test

      - name: Tests
        run: ./start.sh